<div class="card mt-4 mb-4">
    <img class="card-img-top img-fluid" src="{{productDetails.productImg}}" alt="" width="900" height="200">
    <div class="card-body">
      <h3 class="card-title">{{ productDetails.productName }}</h3>
      <a href="#/products/update-product/{{productDetails.id}}">Update Product</a> | <a href="#/products/delete-product/{{productDetails.id}}">Delete Product</a>
      <h4>${{ productDetails.price }}</h4>
      <p class="card-text">{{ productDetails.description }}</p>
      <span class="text-warning">{{ productDetails.rating }}</span>
      stars
    </div>
</div>
  <!-- /.card -->











  <!-- <div ngClass="c2">this is c1</div> -->
